body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  background-image: url("./imgs/hero_background.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 35pt;
  font-variant: small-caps;
  text-decoration: underline;
  color: black;
  text-align: center;
}

h2 {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 25pt;
  font-variant: small-caps;
  color: black;
  text-align: center;
}

a {
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}

.main-container {
    margin: 0 auto;
    width: 100%;
    max-height: 100%;
}

.hero {
  padding: 1em;
  height: 100vh;
  background-image: url("./imgs/hero.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-style: solid;
  border-width: 7px;
  border-color: #515151;
  width: 100%;
  height: 100vh;
}

.title {
  text-align: center;
  margin: auto;
  padding-top: 0.25em;
  padding-bottom: 1.25em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  background-color: silver;
  width: 55%;
  border-style: solid;
  border-width: 7px;
  border-color: #515151;
}

.nav {
  font-size: 20pt;
  font-variant: small-caps;
  text-decoration: none;
  display: inline-block;
  word-spacing: 0.55em;
}

.nav a {
  color: black;
  text-decoration: none;
  text-align: center;
}

.nav a:hover {
  background-color: #444444;
}

.information {
  margin: 25vh auto;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  background-color: #0033D6;
  width: 55%;
  height: auto;
  border-style: solid;
  border-width: 7px;
  border-color: #515151;
  border-radius: 15px 0px 30px;
  font-size: 21px;
}

.information a {
  color: white;
  font-size: 21px;
}

.add_info {
  text-align: center;
  margin: auto;
  padding: 1em;
  background-color: #1E6045;
  height: auto;
  width: 100%;
  border-style: solid;
  border-width: 7px;
  border-color: #515151;
}

@media (max-width: 865px) {
    .hero {
        min-height: 730px;
    }
    .hero .title {
        font-size: 18pt;
    }
}

@media (max-width: 585px) {
    .hero {
        min-height: 500px;
        max-width: 50%;
    }
    .hero .title .nav {
        font-size: 15pt;
        margin: 0;
        margin-top: 50px;
    }
}

@media (max-width: 445px) {
    .hero .title .nav {
        font-size: 12pt;
    }
